<!doctype html>
<html lang="en">
  <head>
    <title>Angular Routing</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="js/angular.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
      <nav class="navbar navbar-expand-sm navbar-dark|light bg-dark">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler hidden-lg-up" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
              aria-expanded="false" aria-label="Toggle navigation"></button>
          <div class="collapse navbar-collapse" id="collapsibleNavId">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                      <a class="nav-link" href="#/home">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#/about">About</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#/contact">Contact</a>
                  </li>
              </ul>
          </div>
      </nav>

      <div class="container" ng-app="todo-app">           
            <div class="card mt-5" ng-controller="todo-application">
                <div class="card-header">
                    <h3 class="text-center">TODO APP</h3>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-10">
                                <input type="text" name="" id="" class="form-control" placeholder="" ng-model="userInput">
                            </div>
                             <div class="col-sm-2">
                                 <button type="submit" class="btn btn-primary" ng-click="todoSubmit()">Submit</button>
                             </div>
                        </div>
                    </div>
                </div>
                <div class="list-group">
                    <a href="#" class="list-group-item" ng-repeat="tododata in todoarr">{{tododata}}<button class="btn btn-danger float-right btn-sm" ng-click="removeItem($index)">X</button></a>
                </div>
            </div>
      </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
        var app = angular.module('todo-app',[]);
        app.controller('todo-application', function($scope) { 
                $scope.todoarr = ['tg1'];   
                $scope.todoSubmit = function() {
                    if(!$scope.userInput) { alert("error"); exit(); }
                    if($scope.todoarr.indexOf($scope.userInput) == -1) {
                        $scope.todoarr.unshift($scope.userInput);
                    } else {
                        alert("Item already present");
                    }
                } 

            $scope.removeItem = function($index) {
                $scope.todoarr.splice($index,1);
            }
        });
    </script>
    </body>
</html>